.images {
  width: 100%;
  display: inline-block;
  height: auto;
  position: relative;
  top: 4%;
  &--container {
    height: 100vw;
    font-size: 0;
  }
  @media screen and (min-width: 768px) {
    width: 50%;
  }
  @media screen and (min-width: 1024px) {
    width: 33%;
  }
  &:first-of-type {
    @media screen and (min-width: 768px) {
      width: 100%;
    }
    @media screen and (min-width: 1024px) {
      width: 62%;
    }
  }
  img {
    height: 300px;
    cursor: pointer;
    box-sizing: border-box;
    width: 80%;
    height: auto;
    display: block;
    margin: 4rem auto;
    padding: 10%;
    background: #F4F0EC;
    border: 8px solid #333;
    box-shadow: 0 0 0 50px rgba(125,135,18,0.3) inset;
    transition: .8s opacity;
    @extend %imagesFilter;
    opacity: 0.3;
    &:first-of-type {
      @media screen and (min-width: 768px) {
        height: 400px;
      }
    }
    &:hover {
      padding: 2rem;
      opacity: 1;
      -webkit-filter: brightness(150%);
    }
  }
  &--input {
    width: 80.2%;
    height: 2rem;
    padding: 0.3rem;
    @media screen and (min-width: 768px) {
      width: 82.2%;
    }
    @media screen and (min-width: 1024px) {
      width: 82.4%;
    }
    @media screen and (min-width: 1280px) {
      width: 82.6%;
    }
  }
  &--button {
    height: 2.9rem;
    padding: 0.3rem;
    width: 16%;
  }
  &--text {
    height: 100px;
    background: white;
    position: relative;
    top: -7.5rem;
    opacity: 0.6;
    h3 {
      color: darkslategray;;
      top: 2.5rem;
      position: relative;
    }
  }
  &--header {
    text-align: center;
    color: black;
  }
  &--input-container {
    background: white;
    padding: 1px;
  }
}
